{% extends 'base.html' %}
{% load static %}
{% block title %}
    {% if form.instance.pk %} Edit Assigned Asset {% else %} Add New Assigned Asset {% endif %}
{% endblock %}
{% block content %}
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">{% if form.instance.pk %} Edit Assigned Asset {% else %} Add New Assigned Asset {% endif %}</h1>
          </div>
          <!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item active">{% if form.instance.pk %} Edit Assigned Asset {% else %} Add New Assigned Asset {% endif %}</li>
            </ol>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Your content here -->
       <form method="post">
          {% csrf_token %}
          <div class="d-flex flex-row w-100">
                <div class="form-group w-50 m-2">
                    <label for="{{ forms.business_unit.id_for_label }}">Business Unit</label>
                    {{ transaction_form.business_unit }}
                </div>
                <div class="form-group w-50 m-2">
                    <label for="{{ form.department.id_for_label }}">Department</label>
                    {{ transaction_form.department }}
                </div>
                <div class="form-group w-50 m-2">
                    <label for="{{ form.employee.id_for_label }}">Employee</label>
                    {{ transaction_form.employee }}
              </div>
          </div>
          <div class="d-flex flex-row w-100">
              <div class="form-group w-50 m-2">
                  <label id="business_unit" for="{{ form.business_unitto.id_for_label }}">From Business Unit:</label>
                  {{ transaction_form.business_unit }}
              </div>
              
              <div class="form-group w-50 m-2">
                  <label id="department" for="{{ form.departmentto.id_for_label }}">From Department:</label>
                  {{ transaction_form.department }}
              </div>
              
              <div class="form-group w-50 m-2">
                  <label for="{{ form.purpose.id_for_label }}">Purpose</label>
                  {{ transaction_form.purpose }}
              </div>
          </div>
          <div class="d-flex flex-row w-100">
              <div class="form-group w-50 m-2">
                  <label id="business_unit" for="{{ form.business_unitto.id_for_label }}">Business Unit To</label>
                  {{ transaction_form.business_unitto }}
              </div>
              
              <div class="form-group w-50 m-2">
                  <label id="department" for="{{ form.departmentto.id_for_label }}">Department To</label>
                  {{ transaction_form.departmentto }}
              </div>
              
              <div class="form-group w-50 m-2">
                  <label for="{{ form.purpose.id_for_label }}">Purpose</label>
                  {{ transaction_form.purpose }}
              </div>
          </div>
          <div class="d-flex flex-row w-100">
            <div class="form-group w-50 m-2">
                <label for="{{ form.date.id_for_label }}">Date</label>
                {{ transaction_form.date }}
            </div>
            
            <div class="form-group w-50 m-2">
                <label for="{{ form.manager.id_for_label }}">Manager</label>
                {{ transaction_form.manager }}
            </div>
            
            <div class="form-group w-50 m-2">
                <label for="{{ form.admin.id_for_label }}">Admin</label>
                {{ transaction_form.admin }}
            </div>          
            <div class="form-group w-50 m-2">
              <label for="{{ form.corporatemanager.id_for_label }}">Corporate Manager</label>
              {{ transaction_form.corporatemanager }}
            </div>
          </div>


          <h3 class="mt-3">Assign Assets</h3>
          <div id="asset-formset">
            {{ asset_formset.management_form }}
            {% for form in asset_formset %}
                <div class="asset-form">
                  <div class="form-group w-50 m-2">
                    <label for="">Asset</label>
                    {{ form.asset }}
                  </div>
                  <div class="form-group w-50 m-2">
                    <label for="">Quantity</label>
                    {{ form.quantity_assigned }}
                  </div>   
                </div>
            {% endfor %}
          </div>
          <button class="btn btn-primary" type="button" id="add-asset">Add Another Asset</button>
          <button class="btn btn-success" type="submit">Save Assignment</button>
        </form>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#business_unit").change(function () {
                var businessUnitId = $(this).val();
                $.ajax({
                    url: "{% url 'get_departments' %}",
                    data: {business_unit_id: businessUnitId},
                    success: function (data) {
                        var departmentDropdown = $("#department");
                        departmentDropdown.empty();
                        departmentDropdown.append('<option value="">Select department</option>');
                        $.each(data, function (index, department) {
                            departmentDropdown.append('<option value="' + department.id + '">' + department.name + '</option>');
                        });
                    }
                });
            });
        });
    </script>    
{% endblock %}
