{% extends 'base.html' %}
{% load static %}

{% block title %}Return Assigned Asset{% endblock %}

{% block content %}
  <div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Return Assigned Asset</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Return Assigned Asset</li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th>Transaction ID</th>
          <th>Employee</th>
          <th>Business Unit</th>
          <th>Purpose</th>
          <th>Assets</th>  
        </tr>
      </thead>
      <tbody>
      {% for context in contexts %}
        <tr>
          <td>{{ context.transaction.transaction_id }}</td>  <!-- Changed to ID since asset is likely an object -->
          <td>{{ context.transaction.employee }}</td>
          <td>{{ context.transaction.business_unit }}</td>
          <td>{{ context.transaction.purpose }}</td>
          <td>
            {% for assigned_asset in context.assigned_asset.all %}
              <div>
                {{ assigned_asset.asset.name }}
                {% if assigned_asset.is_returned %}
                  <span style="color: green;">(Returned)</span>
                {% else %}
                  <form action="{% url 'return_assigned_asset' assigned_asset.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit">Return</button>
                  </form>
                {% endif %}
              </div>
            {% endfor %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
