{% extends "base.html" %}

{% block title %}
  Employee Form
{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Employee Form</h1>
                    </div>
                        <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item active">Employee Form</li> 
                        </ol>
                    </div>
                </div>
            </div>
        </div>
            <section class="content">
              <div class="container-fluid d-flex flex-column align-items-center">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a class="btn btn-secondary" href="{% url 'employee_list' %}">Back to list</a>
                </form>
                </div>
            </section>
    </div>
{% endblock %}
