* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dataTables_wrapper {
    .row {
        .dataTables_filter {
            label {
                width: 50%;
                input {
                    width: 85%;
                }
            }
        }
    }
}

.min-height-80 {
    min-height: 80vh;
}

.back-btn {
    width: 120px;
}

.border-solid-darkgray-1 {
    border: solid darkgray 1px !important;
}

/* Add Course Subject Drag and Drop */
.list-group-item {
    cursor: grab; 
}

#subjectTable_filter {
    text-align: left !important;
}

#subjectTable_filter label input {
    width: 300px;
}

.small-box .icon i {
    font-size: 70px;
}

/* Small Box Styles */
.small-box {
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    color: white;
}

.small-box.bg-info {
    background-color: #17a2b8;
}

.small-box.bg-warning {
    background-color: #ffc107;
}

.small-box .icon {
    font-size: 3rem;
    opacity: 0.8;
}
