{% load static %}

<!-- Main Sidebar Container -->
<aside class="main-sidebar custom-sidebar elevation-4 sidebar-no-expand sidebar-dark-success">
  <!-- Brand Logo -->
  <a href="{% url 'dashboard' %}" class="brand-link">
    <img src="{% static 'media/logo.jpg' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8" />
    <span class="brand-text font-weight-light">Asset</span>
  </a>
    <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="info text-center w-100">
        <a href="#" class="d-block fw-bold fs-5">Academic Director</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="hold-transition sidebar-mini">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Single Link -->
        <li class="nav-item">
          <a href="{% url 'dashboard' %}" class="nav-link">
            <i class="nav-icon fa-solid fa-house"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'business_unit_list' %}" class="nav-link">
            <i class="nav-icon fa-solid fa-building"></i>
            <p>Business Unit</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'department_list' %}" class="nav-link">
            <i class=" fa-solid fa-building-user"></i>
            <p>Department</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'employee_list' %}" class="nav-link">
            <i class=" fa-solid fa-user"></i>
            <p>Employee</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'supplier_list' %}" class="nav-link">
            <i class=" fa-solid fa-truck-field"></i>
            <p>Supplier</p>
          </a>
        </li>
        <!-- Dropdown Link -->
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class=" fa-solid fa-briefcase"></i>
            <p>
              Assets
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'asset_category_list' %}" class="nav-link">
                <i class="far fa-circle"></i>
                <p>Asset Category</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'asset_model_list' %}" class="nav-link">
                <i class="far fa-circle "></i>
                <p>Asset Model</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'asset_list' %}" class="nav-link">
                <i class=" far fa-circle "></i>
                <p>Asset</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'assigned_asset_list' %}" class="nav-link">
                <i class=" far fa-circle"></i>
                <p>Assigned Asset</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
